.jumbotron-3 {
  display: flex;
  background-image: url("assets/backgroundv2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-shrink: 2;
  }

.more-space2 {
    height: 24rem;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color:rgb(151, 151, 151)
}

.links {
  color: rgb(255, 162, 255);
}

.links:hover {
  color: rgb(208, 172, 255);
}